<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Proyecto Semestral</title>


  <link rel="stylesheet" href="../../css/bootstrap.min.css">

  <link href="../../css/Personal.css" rel="stylesheet">

</head>

<body>

  <!-- Menu PC / Desplegable celular  -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../index.html">PROYECTO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menudesplegablecelular"
        aria-controls="Menudesplegablecelular" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="Menudesplegablecelular">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../../index.html">Inicio
              <span class="sr-only"></span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../../menu/Hardware.html">Hardware</a>
          </li>

          <!--<li class="nav-item">
                <a class="nav-link" href="../sub/Software.html">Sofware</a>
              </li>-->

          <li class="nav-item">
            <a class="nav-link" href="../../menu/Notebooks.html">Notebook</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../../menu/Contacto.html">Contacto</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../../menu/AcercaDe.html">Acerca De</a>
          </li>
          <li class="nav-item">  
            <a class="btn btn-outline-success my-2 my-sm-0" href="Registro.html" style="position: absolute; right: 20px;">Registrate</a>
            </li>
            <li class="nav-item">  
              <a class="btn btn-outline-success my-2 my-sm-0" href="InicioSesion.html"  style="position: absolute; right: 120px;">Inicia Sesion</a>
              </li>
      </div>
    </div>
  </nav>


  <!-- Contenido de la pag -->
  <div class="cart-producto">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="my-6">ASUS Chromebook C423NA-WB04</h1>
      </div>

      <!-- Imagen -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4">
            <div class="card h-100">
              <a href=""><img class="card-img-top" src="../../img/Notebook/004/004.png" alt=""></a>
            </div>
          </div>
          <div class="precio">
            <div class="col-lg-7">
              <div class="ficha_precio_efectivo">
                <p>Precio Oferta Efectivo</p>
                <h2>$ 209.990</h2>
              </div>
              <div class="ficha_precio_normal">
                <p>Otros medios de pagos</p>
                <h2>$209.990</h2>
              </div>
              <div class="boton-compra">
                <button type="button" class="btn btn-success">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Leyenda-->
      <div class="leyenda">
        <div class="col-lg-12">
          <h4 class="card-title">Características</h4>
          <p class="card-text">
          <p>Procesador Intel Celeron N3350 (2 núcleos / 2 hilos / 1100 MHz - 2400 MHz) <br>
            RAM
            4 GB LPDDR4 (2400 MHz) <br>
            Pantalla
            LED 14.0" (1366x768) / 60 Hz <br>
            Batería
            3 celdas (38000 mWh) <br>
            Almacenamiento
            eMMC 64GB <br>
            Tarjetas de video
            Intel HD Graphics 500 (Integrada) <br>
            Puertos
            2x SuperSpeed USB 5Gbps Type-A (USB 3.0 / USB 3.1 Gen 1 / USB 3.2 Gen 1)
            2x SuperSpeed USB 5Gbps Type-C (USB 3.0 / USB 3.1 Gen 1 / USB 3.2 Gen 1) (con señal HDMI / DisplayPort) <br>
            Secundarias <br>
            Peso
            1230 g. <br>
            Dimensiones
            323 x 229 x 16 mm <br>
            Sistema Operativo
            Google Chrome OS <br>
            Unidad óptica
            No <br>
            Otros <br>
            WiFi
            Genérica [Wi-Fi 5 (802.11ac)] <br>
            Adaptador de energía
            45W. <br>
            Lector de tarjetas
            MicroSD <br>
            ¿Lector de huellas digitales?
            No
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- /.row -->

  </div>
  <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">

      <div class="redesSociales">
        <p><a class="font-weight-bold" href="../../menu/TerminoCondiciones.html">Términos y condiciones</a></p>
      </div>
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="../../js/bootstrap.min.js"></script>
</body>

</html>