<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Proyecto Semestral</title>

    <link rel="stylesheet" href="../../css/bootstrap.min.css" />

    <link href="../../css/Personal.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Menu PC / Desplegable celular  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a href="../index.html">
          <img
            class="logo-pag"
            src="../../img/Pag/Cosas/logo-pagina.png"
            alt="Logo"
          />
        </a>
        <b class="texto-footer">PROYECTO</b>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Menudesplegablecelular"
          aria-controls="Menudesplegablecelular"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Menudesplegablecelular">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="../../index.html"
                >Inicio <span class="sr-only"></span
              ></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="../../menu/Hardware.html">Hardware</a>
            </li>

            <!--<li class="nav-item">
              <a class="nav-link" href="../../menu/Software.html">Sofware</a>
            </li>-->

            <li class="nav-item">
              <a class="nav-link" href="../../menu/Notebooks.html">Notebook</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="../../menu/Contacto.html">Contacto</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="../../menu/AcercaDe.html">Acerca De</a>
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-light my-2 my-sm-0"
                href="../../menu/Registro.html"
                style="position: absolute; right: 20px"
                >Registrate</a
              >
            </li>
            <li class="nav-item">
              <a
                class="btn btn-outline-light my-2 my-sm-0"
                href="../../menu/InicioSesion.html"
                style="position: absolute; right: 120px"
                >Inicia Sesion</a
              >
            </li>
            <li class="nav-item">
              <a href="../../../menu/Carrito.html">
              <img
                class="logo-pag"
                src="../../../img/Pag/Carrito/carro_mini.png"
                alt="Logo"
                style="position: absolute; right: 250px"
              />
            </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Contenido de la pag -->
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>

        <h2>G.Skill Trident Z RGB 8GB 2400MHz</h2>

        <!--Imagen-->
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <a href="#"
                  ><img
                    class="card-img-top"
                    src="/img/Componentes/Ram/001/001.png"
                    alt=""
                /></a>
              </div>
            </div>
            <div class="card col-lg-3">
              <ol></ol>
              <div class="card col-lg-0">
                <p>Precio Oferta Efectivo</p>
                <h2>$59.990</h2>
              </div>
              <ol></ol>
              <div class="card col-lg-0">
                <p>Otros medios de pagos</p>
                <h2>$59.990</h2>
              </div>
              <ol></ol>
              <div class="boton-compra">
                <button type="button" class="btn btn-success">Comprar</button>
              </div>
            </div>
          </div>
        </div>

        <!--ROW-->
      </div>

      <!-- Leyenda-->
      <div class="card">
        <div class="card-body">
          <img
            src="/img/Componentes/Ram/001/ramGskill.png"
            class="img-responsive"
            style="width: 100%"
          />
          <h4 class="card-title">Características</h4>

          <p>
            Familia de procesadores de gráficos: NVIDIA
          </p>
          <p>Memoria interna: 8 GB</p>
          <p>Tipo de memoria interna: DDR4</p>
          <p>Velocidad de memoria del reloj: 2400 MHz</p>
          <p>Forma de factor de memoria: 288-pin DIMM</p>
          <p>Latencia CAS: 15</p>
          <p>Canales de memoriar: Sencillo</p>
          <p>Voltaje de memoria: 1.35 V</p>
          <p>Intel® Extreme Memory Profile (XMP): Si</p>
          <p>Velocidad de SPD: 2133 MHz</p>
          <p>Tipo de enfriamiento: Disipador térmico</p>
          <p>Retroiluminación: Si</p>
          <p>Color de luz de fondo: 	Rojo/Verde/Azul</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"
            >&#9733; &#9733; &#9733; &#9733; &#9734;</small
          >
        </div>
      </div>
      <!--Row-->

      <!--Container-->
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <h5 class="texto-footer">UBICACION</h5>
            <p class="texto-footer">
              Calle Siempre Viva 1234, Las Condes, Region Metropolitana
            </p>
          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3" />

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase texto-footer">Servicios</h5>

            <ul class="list-unstyled">
              <li>
                <a href="../../menu/TerminoCondiciones.html"
                  >Terminos y condiciones</a
                >
              </li>
              <li>
                <a href="#!">Politicas de Privacidad</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase texto-footer">Redes Sociales</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://www.facebook.com/">Facebook</a>
              </li>
              <li>
                <a href="https://twitter.com/">Twitter</a>
              </li>
              <li>
                <a href="https://www.instagram.com/">Instagram</a>
              </li>
              <li>
                <a href="https://www.youtube.com/">Youtube</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 texto-footer">
        © 2021 Copyright: Grupo 3
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!--Script-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  </body>
</html>
